body {
  background: white;
}

.top-buffer {
  margin-top: 20px;
}

.bottom-no-margin {
  margin-bottom: 0px !important;
}

.monospace-font {
  font-family: monospace;
}

.full-width {
  width: 100%;
}

